body {
	background-color: whitesmoke ;
	font-family: New Times Roman;
	margin-top: 100px;
}

.photo p {
	text-align: center;
	padding: 5px;
	color: whitesmoke;
	font-size: 15px;
	font-weight: normal;
	text-decoration: none;
}

.photo a {
	text-align: center;
	color: antiquewhite;
}

h1 {
	text-align: center;
}

img {
	margin-top: 30px;
	width: 150px;
	height: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 99cm;
	box-shadow: 0px 0px 5px 5px;
	color: antiquewhite;
}

img:hover{
	transform: scale(1.2);
	box-shadow: 1px 1px 4px grey;
}

.friends10 p { 
	text-align: center;
	border-radius: 20px;
	border-style: solid;
	border-color: black;
	font-size: 21px;
	padding: 3px;
	margin: 3px;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	height: 25px;
	background: whitesmoke;
	border-width: 4px;
}

.friends10 a {
	text-decoration: none;
	color: black;
}

.friends5 p { 
	text-align: center;
	border-radius: 20px;
	border-style: solid;
	border-color: black;
	font-size: 21px;
	padding: 3px;
	margin: 3px;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	height: 25px;
	background: whitesmoke;
	border-width: 4px;
}

.friends5 a {
	text-decoration: none;
	color: black;
}

.friends10j p { 
	text-align: center;
	border-radius: 20px;
	border-style: solid;
	border-color: black;
	font-size: 21px;
	padding: 3px;
	margin: 3px;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 25px;
	background: whitesmoke;
	border-width: 4px;
}

.friends10j a {
	text-decoration: none;
	color: black;
}

.judul {
	text-align: center;
	color: black;
}

.tabel {
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	border: 2px solid black;
	text-align: center;
	padding: 15px;
}

tr:nth-child(even) {
	background-color: #e6e0d2;
}

th:hover {
	background-color: #daeaf6;
}

td:hover {
	background-color: #daeaf6;
}

.tabel-utama {
	background-color: #b09171;
	text-decoration: none;
	color: black;
}

.Kembali-tablejquery {
	margin-top: 40px;
}

.Kembali-tablejquery a {
	border-color: #b09171;
	font-size: 25px;
	color: black;
	padding: 5px 10px ;
	text-decoration: none;
	border-radius: 20px;
}

.Kembali-tablejquery a:hover {
	background-color: #b09171;
}